In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master('local').appName('assign').getOrCreate()

In [2]:
# 샘플 데이터: 이름 및 나이
age_name = [
    ('영준', 24),
    ('철수', 25),
    ('영희', 39),
    ('맹구', 60),
    ('짱구', 54),
    ('민석', 40),
    ('화성', 70)
]

In [4]:
schema = ['name', 'age']

In [5]:
df = spark.createDataFrame(age_name, schema)

In [6]:
df.show()

+----+---+
|name|age|
+----+---+
|영준| 24|
|철수| 25|
|영희| 39|
|맹구| 60|
|짱구| 54|
|민석| 40|
|화성| 70|
+----+---+

In [8]:
# [+] Temporary View 생성
df.createOrReplaceTempView('age_name')

In [12]:
#35살 미만: 'young' 35살-59살: 'adult' 60살 이상: 'senior'
def age_category(age):
    if age < 35:
        return 'young'
    elif age < 60:
        return 'adult'
    else:
        return 'senior'

In [13]:
spark.udf.register("age_category", age_category)

In [14]:
spark.sql(
    "SELECT name, age, age_category(age) FROM age_name").show()

+----+---+-----------------+
|name|age|age_category(age)|
+----+---+-----------------+
|영준| 24|            young|
|철수| 25|            young|
|영희| 39|            adult|
|맹구| 60|           senior|
|짱구| 54|            adult|
|민석| 40|            adult|
|화성| 70|           senior|
+----+---+-----------------+